body{ 
    background-color: rgb(184, 184, 221);
    font-family: Georgia, 'Times New Roman', Times, serif;
}
footer{
    background-color: rgb(177, 177, 230);
    color: black;
    position: fixed;
    bottom: 0;
    width: 100%;
}
footer p {
    text-align: center;
    font-size: 0.6rem;
    margin: 0.5rem;
}
#container {
    display: flex;
}
.cartao {
    margin: 1rem 1rem;
}

